.table{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100vw;
}

th, tr {
    border: 2px solid black
}

tr:nth-child(even) {
    background-color: lightgray;
}